@using Data.Account
@using HR_system.Constants
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <label class="nav-link text-dark" >Hello @User.Identity?.Name!</label>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Logout"> Logout </a>
    </li>
    @if (User.IsInRole(DefaultValuesConsnts.ADMIN_ROLE) || User.IsInRole(DefaultValuesConsnts.MANAGER_ROLE))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">List Users</a>
        </li>
    }
    else if(User.IsInRole(DefaultValuesConsnts.EMPLOYEE_ROLE))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">Details</a>
        </li>
    }
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Login">Login</a>
    </li>
}
</ul>
